.header{
    height: fit-contents;
}

.github-link, .linkedin-link{
    color:#4ee29f;
    margin: 0 0.5rem;
}

.github-link:hover, .linkedin-link:hover{
    color: #f4f4f4 !important;
}

span.underline{
    text-decoration-color: #4ee29f !important;
}

.contact-btn{
    border-bottom: 2px solid #4ee29f !important;
    border-radius: 0 !important;
    color: #fff !important;
    text-transform: uppercase;
    font-weight: bold;
}

.contact-btn:hover{
    background-color: #4ee29f;
    color: #151515 !important;
}

.card{
    background-color: #151515;
    color: #fff;
}

.contact{
    background-color: #242424;
}

form input{
    background-color: inherit !important;
    border: none !important;
    outline: none !important;
    border-radius: 0% !important;
    color: #f4f4f4 !important;
}

textarea{
    background-color: inherit !important;
    border: none !important;
    outline: none !important;
    border-radius: 0% !important;
    color: #f4f4f4 !important;
}

input:focus, textarea:focus{
    box-shadow: none !important;
}